body 
{
	color: black;
	background-color: #a3c1ad;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: arial;
	
}
h1
{
	
	max-width: 70%;
	max-height: 10%;
	padding: 1.5% 1.5% 1.5% 1.5%;
	color: white;
	background-color: #317873;
	
	margin: auto;
	text-align: center;
}
h2
{
	padding: 1% 1% 1% 1%;
	margin:  auto;
	text-align: left;
	color: white;
	background-color: #317873;
	overflow: wrap;
	font-size: 110%;
	
}
h3
{
	padding: 1% 1% 1% 1%;
	margin:  auto;
	text-align: center;
	color: white;
	background-color: #317873;
	overflow: wrap;
	max-width: 70%;
	font-size: 120%;
}


nav
{
	margin: 0 0 0 0;
	width: 100%;
	font-size: 80%;
	background-color: #49796b;
	z-index: 9999;
}

nav ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a 
{
	background-color: #49796b;
	display: inline-block;
	color: white;
	padding: 1% 2%;
	text-decoration: none;
	float: left;
}
nav li a:hover
{
	background-color: #a3c1ad;
	color: white;
}

.logoSettings
{
	position: absolute;
	right: 0;
	top: 0;
	float: right;
	height: 7.5%;
}

.homePicSize
{
	height: 200px;
}
.namesMoveRight
{
	position: relative;
	left: 5%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.pagePicture{
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: auto;
}

.petPageMain{
	display: block;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.subpageSetup {
	padding: 3% 3%;
	font-size: 100%;
	max-width: 90%;
	color: black;
	margin: auto;
	background-color: #5f9ea0;
}
.bottomNav {
	padding: 1% 2%;
	font-size: 80%;
	color: #BDBDBD;
	margin: auto auto;
	background-color: #676767;
	
}
.bottomLogo {
	padding: 2%, 2%;
	height: 50px;
}

.jumpTo {
	vertical-align: sub;
	font-size: small;
	margin: auto;
	width: 90%;
}

* {
  box-sizing: border-box;
}


/* Left column */
.leftcolumn {
  float: left;
  width: 22%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 78%;
  padding-left: 20px;
}



/* Add a card effect for articles */
.card {
  background-color: #5f9ea0;
  padding: 10px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* https://www.color-hex.com/color-palette/1403 */